* {
	box-sizing: border-box;
	letter-spacing: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
	display: flex;
	align-items: center;
	padding: 0.5rem 2rem;
	border-bottom: 1px solid gray;
}

nav > h1 {
	margin-right: 1rem;
	font-size: 1.2rem;
}

nav > div {
	display: flex;
	align-items: center;
	gap: 1rem;
}

section,
nav,
footer {
	overflow: hidden;
}

section.one {
	background-image: url('https://raw.githubusercontent.com/NateXVI/client-side-web-development/5845ecaa2f2f4d0cec701f41387c133a91ff1a5c/PracticeActivities/PracticeActivity05/images/waves.svg');
	background-position: center center;
	background-size: 100%;
	color: white;
	padding: 2rem;
}

.one-info {
	padding-bottom: 4rem;
	font-size: 20px;
}

.one-info > h2 {
	font-size: 2em;
	margin-bottom: 1rem;
}

.one-button {
	cursor: pointer;
	color: white;
	background-color: #ffa500;
	border: none;
	padding: 1.5rem;
	font-size: 1.2rem;
	border-radius: 4px;
	margin-bottom: 4rem;
}

.one-button:hover {
	background-color: #ffc107;
}

section.two,
section.three,
section.four {
	max-width: 1200px;
	margin: 0 auto;
}

.circles {
	display: flex;
	justify-content: space-evenly;
	color: #7ea6cb;
	padding: 2rem 1rem;
}

.circle {
	width: 16rem;
	height: 16rem;
	border: 1px solid lightgray;
	border-radius: 50%;
	display: grid;
	place-items: center;

	font-size: 2.5rem;
}

.three-info > h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

section.three {
	padding-bottom: 1rem;
}

.cards-container {
	display: flex;
	justify-content: space-between;
}

.card {
	width: 325px;
	overflow: hidden;
	padding: 2px;
	background-color: #eee;
}

.card-image {
	width: 100%;
	height: 250px;
	overflow: hidden;
	border-radius: 7px;
}

.card-image > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-info {
	padding: 0.5rem;
}

div.card-button {
	display: flex;
	justify-content: center;
}

a.card-button {
	display: block;
	padding: 0.5rem 3rem;
	color: white;
	text-decoration: none;
	background-color: #ffa500;
	border-radius: 5px;
}

.descriptions > p {
	width: 32%;
}

.idek {
	font-size: 2.75rem;
	width: 200px;
	margin: auto 0;
	padding-right: 0.5rem;
}

table {
	width: 100%;
	border-spacing: 0;
}

table,
th,
td {
	border-bottom: 1px solid lightgray;
}

table,
th {
	border-bottom: 2px solid lightgray;
}

td,
th {
	padding: 0.3rem 0;
}

th {
	text-align: left;
}

footer {
	background-color: black;
	color: white;
	display: grid;
	place-items: center;
}

mark {
	background-color: #ddd;
}
