* {
	box-sizing: border-box;
	--highlight-color: #00aa66;
}

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
}

iframe {
	border: none;
}

li {
	list-style: none;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
	background-color: lightgray;
}

.flex {
	display: flex;
	align-items: center;
}

h1 {
	font-weight: 400;
	color: #333;
}

h1 > strong {
	color: #000;
}

.nav-link {
	margin: 0 1rem;
	color: var(--highlight-color);
	padding: 0.1rem 0.5rem;
}

.underline {
	border-bottom: 3px solid var(--highlight-color);
}

.underline:hover {
	text-decoration: none;
}

main {
	padding: 1rem 0.5rem;
}

section,
hr {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

section,
nav {
	overflow: hidden;
}

section.one {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

div.intro > h2 {
	font-size: 2rem;
}

p {
	color: dimgray;
}

div.intro > div {
	gap: 1rem;
}

div.video {
	display: grid;
	place-items: center;
}

a.button {
	padding: 0.75rem 1rem;
	background-color: var(--highlight-color);
	color: #fff;
	border-radius: 0.25rem;
}

hr {
	border: 1px solid lightgray;
	margin: 1.5rem auto;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	align-items: stretch;
	justify-content: center;
	gap: 1rem;
}

.card {
	width: 20rem;
	border: 1px solid lightgray;
}

.img-container {
	height: 13rem;
	width: 100%;
	overflow: hidden;
}

img.card {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-info {
	padding: 0.25rem 1rem;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.wide-button {
	cursor: pointer;
	display: block;
	text-align: center;
	width: min(100%, 13rem);
	margin: 1rem auto;
}

footer {
	background-color: black;
	overflow: hidden;
}

.footer-top {
	display: flex;
	flex-wrap: wrap;
	width: min(100%, 74rem);
	padding: 2rem 1rem;
	background-color: black;
	justify-content: space-between;
}

.footer-links-container {
	color: white;
	padding: 0 1rem;
}

.footer-links-container > ul > li > a {
	color: var(--highlight-color);
}

.footer-bottom {
	width: 100%;
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	gap: 4rem;
	align-items: center;
	justify-content: space-evenly;
}

.footer-bottom > ul {
	display: flex;
	gap: 1rem;
	width: min-content;
}

.footer-link {
	color: var(--highlight-color);
	text-decoration: none;
}

@media screen and (max-width: 1000px) {
	section.one {
		max-width: 600px;
		grid-template-columns: 1fr;
	}
	.sm\:center {
		justify-content: center;
	}
}
