section.projects,
div.slant {
	background-color: black;
}

.subtle {
	font-size: smaller;
	font-weight: normal;
	color: #777;
}

.projects {
	scroll-snap-align: start end;
	width: 100%;
	padding: 0 1em;
	padding-bottom: 4em;
	min-height: 100vh;
	display: grid;
	place-items: center;
}

.projects > div {
	width: 100%;
}

.projects > div > h1 {
	color: white;
	font-size: 2.5em;
	font-weight: bold;
	text-align: center;
	padding-bottom: 0.75em;
}

div.projects-container {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	box-shadow: 0 0 30px 10px #ffffff55;
	overflow: hidden;
	border-radius: 10px;
}

div.project {
	padding: 1rem;
	width: 100%;
	background: #222;
	transition: background 0.4s;
	border-top: 1px solid black;
}

div.project:hover,
div.project:active {
	background: #2a2a2a;
}

h3.project-title {
	font-weight: 500;
}

.project-description {
	font-size: 1em;
	color: #777;
	padding-left: 1rem;
}

p.project-description > a {
	text-decoration: underline;
}

.underline {
	text-decoration: underline;
}
