section.projects {
	background-color: white;
	padding-top: 1rem;
	overflow: hidden;
}

div.projects {
	/* background-color: #00ff65; */
	color: black;
	margin: 0 auto;
	min-height: 50vh;
}

h2.projects {
	text-align: center;
	font-size: 2rem;
}

div.project-cards {
	padding: 5rem 1rem;
	max-width: 20rem;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	gap: 3rem;
}

div.project-card {
	background: yellow;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1rem;
	background-color: white;
	border-radius: 20px;
	box-shadow: -7px 4px 0px 4px #33333388;
	border: 2px solid black;

	--transition-time: 0.25s;
	transition: transform var(--transition-time), box-shadow var(--transition-time);
}

div.project-card:hover {
	transform: scale(1.1);
	box-shadow: -15px 10px 7px 4px #33333388;
}

p.click-me {
	font-weight: bold;
	text-align: center;
	margin: 0 0 0.75rem 0;
}

img.project-card {
	width: 100%;
	height: auto;
	object-fit: cover;
}

@media screen and (min-width: 800px) {
	div.project-cards {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: 1fr;
		gap: 5rem;
		padding: 5rem;
		max-width: 60rem;
		font-size: 1.5rem;
	}

	img.project-card {
	}
}
