section.projects {
	color: black;
	background-color: #fff;
	padding: 3rem;
}

div.projects-container {
	margin: 0 auto;
	max-width: 50rem;
}

header.projects {
	font-size: 2rem;
	text-align: center;
	margin-bottom: 2rem;
}

div.project-card {
	padding: 2em;
	display: flex;
	width: 100%;
	gap: 2rem;
	align-items: flex-end;
	margin-bottom: 1.5rem;
	background-color: white;
	/* border: 2px solid black; */
	border-radius: 20px;
	box-shadow: 0 0 0 0 #999, 0 0 0 0 black;

	--transition-time: 0.7s;
	transition: transform var(--transition-time), box-shadow var(--transition-time),
		border var(--transition-time);
}

div.project-card:hover {
	/* transform: scale(1.05) translateY(-0.75rem); */
	transform: scale(1.01);
	box-shadow: 0 0 0 2px #aaa, 0 15px 5px 0px #555;
}

img.project-card {
	max-width: 20vw;
	min-width: 5em;
	width: 10rem;
	align-self: center;
}

div.project-info {
	width: max-content;
	padding-bottom: 1em;
}
